<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a routerLink="provider">Fournisseurs</a></li>
    <li><a routerLink="view-provider">Liste des fournisseurs</a></li>
</ul>
<a [routerLink]="['/suppliers/add-edit-provider']" class="btn btn-success">Ajouter un
    fournisseur</a><br>
<div class="card my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom du fournisseur</th>
                <th scope="col">Description</th>
                <th scope="col">Phone</th>
                <th scope="col">Ville</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of providers">
                <td>{{provider.id}}</td>
                <td>{{provider.name}}</td>
                <td>{{provider.description}}</td>
                <td>{{provider.phone}}</td>
                <td>{{provider.city}}</td>
                <td>
                    <a [routerLink]="['/providers/list-providers',provider.id]" class="action-link"
                        style="color: dodgerblue;"><i class="bi bi-eye"></i></a>
                    <a [routerLink]="['/add-edit-provider',provider.id]" class="action-link"><i
                            class="bi bi-pencil-square" style="color: darkblue;"></i> </a>
                    <a class="action-link" (click)='initDeleteProvider(provider)'><i class="bi bi-trash"
                            style="color: crimson;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>