<ul class="breadcrumb">
  <li><a [routerLink]="['/home']">Accueil</a></li>
  <li><a routerLink="category">categories</a></li>
  <li><a routerLink="add-category">Ajouter categorie</a></li>
</ul>
<div class="register-form">
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nom categorie</label>
      <input type="text" formControlName="categoryName" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['categoryName'].errors }" />
      <div *ngIf="submitted && f['categoryName'].errors" class="invalid-feedback">
        <div *ngIf="f['categoryName'].errors['required']">Category name is required</div>
        Le nom de la categorie doit tenir sur minimum 6 caracteres
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" formControlName="description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" />
      <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
        <div *ngIf="f['description'].errors['required']">La description de la categorie est obligatoire</div>
      </div>
    </div>
    <div class="form-group">
      <input type="submit" value="Enregistrer" class="btn btn-primary">
      <div class="space">
      </div>
      <button type="button" (click)="onReset()" class="btn btn-warning float-right">Annuler</button>
    </div>
  </form>
</div>