<div class="contenair">
    <div class="row">
        <p>Inventory Management</p>
        <div class="left-sidebar">
        </div>
        <div class="col-md-10">
            <form action="action_page.php" method="post">
                <div class="imgcontainer">
                    &nbsp;
                    <img src="../assets/images/icons8-avatar-96.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                <a href="#">Mot de passe oublié?</a>&nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;      
                <a href="#">Je n'ai pas de compte?</a>
            </div>
            </form>
        </div>
    </div>
</div> 
