<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/products/list-products']">Produits</a></li>
    <li><a routerLink="list-products">Ajouter un produit</a></li>
</ul>
<div class="register-form">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class=" row gx-5">
        <div class="col-md-2"><label>Nom du produit :</label></div>
        <div class="col-md-4">
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Nom du produit obligatoire</div>
                Le nom du produit doit tenir sur minimum 6 caracteres
            </div>
        </div>
        <div class="col-md-2"><label>Categorie :</label></div>
        <div class="col-md-4">
            <select class="form-select" formControlName="categoryId">
                <option value="" disabled selected>Catégorie</option>
                <option *ngFor="let category of categories " [value]="category.id">
                    {{category.categoryName}}
                </option>
            </select>
            <div *ngIf="submitted && f['categoryId'].errors" class="invalid-feedback">
                <div *ngIf="f['categoryId'].errors['required']">La categorie du produit est obligatoire
                </div>
            </div>
        </div>
        <div class="col-md-2"><label>Quantité:</label></div>
        <div class="col-md-4">
            <input type="number" formControlName="quantity" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['quantity'].errors }" />
            <div *ngIf="submitted && f['quantity'].errors" class="invalid-feedback">
                <div *ngIf="f['quantity'].errors['required']">Product quantity is required</div>

            </div>
        </div>
        <div class="col-md-2"><label>Stock Alert :</label></div>
        <div class="col-md-4">
            <input type="number" formControlName="stockAlert" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['stockAlert'].errors }" />
            <div *ngIf="submitted && f['stockAlert'].errors" class="invalid-feedback">
                <div *ngIf="f['stockAlert'].errors['required']">stockAlert is required</div>
                L'alerte de stock obligatoire
            </div>
        </div>
        <div class="col-md-2"><label>Prix :</label></div>
        <div class="col-md-4">
            <input type="number" formControlName="price" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['price'].errors }" />
            <div *ngIf="submitted && f['price'].errors" class="invalid-feedback">
                <div *ngIf="f['price'].errors['required']">Price is required</div>
            </div>
        </div>
        <div class="col-md-2"><label>Unité :</label></div>
        <div class="col-md-4">
            <select name="unity" value="Unité" formControlName="unit" class="form-control">
                <option value="" disabled selected>Unité</option>
                <option>KILO</option>
                <option>PACKET</option>
                <option>LITER</option>
                <div *ngIf="submitted && f['unit'].errors" class="invalid-feedback">
                    <div *ngIf="f['unit'].errors['required']">Unité obligatoire</div>
                </div>
            </select>
        </div>
        <div class="col-md-2"><label>Image :</label></div>
        <div class="col-md-4">
            <input type="text" formControlName="imageUrl" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['imageUrl'].errors }" />
            <div *ngIf="submitted && f['imageUrl'].errors" class="invalid-feedback">
                <div *ngIf="f['imageUrl'].errors['required']">ImageUrl is required</div>
            </div>
        </div>
        <div class="col-md-2"><label>Variété :</label></div>
        <div class="col-md-4">
            <input type="text" formControlName="variety" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['variety'].errors }" />
            <div *ngIf="submitted && f['variety'].errors" class="invalid-feedback">
                <div *ngIf="f['variety'].errors['required']">variety is required</div>
            </div>
        </div>
        <div class="col-md-2"><label>Date d'expiration :</label></div>
        <div class="col-md-4">
            <input type="date" formControlName="expiryDate" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['expiryDate'].errors }" />
            <div *ngIf="submitted && f['expiryDate'].errors" class="invalid-feedback">
                <div *ngIf="f['expiryDate'].errors['required']">Date expiration obligatoire
                </div>
            </div>
        </div>
        <div class="col-md-2"><label>Code Barre :</label></div>
        <div class="col-md-4">
            <input type="text" formControlName="barCode" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['barCode'].errors }" />
            <div *ngIf="submitted && f['barCode'].errors" class="invalid-feedback">
                <div *ngIf="f['barCode'].errors['required']">barCode is required</div>
            </div>
        </div>
        <div class="col-md-2"><label>Description :</label></div>
        <div class="col-md-10">
            <textarea name="" id="" cols="30" rows="10" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }">
            </textarea>
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                <div *ngIf="f['description'].errors['required']">description is required</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" value="Enregistrer" class="btn btn-primary btn-lg btn-block">Enregistrer</button>
            </div>
            <div class="col-md-2">
                <button type="button" (click)="onReset()" class="btn btn-warning float-right btn-lg btn-block">Annuler
                </button>
            </div>
        </div>
    </form>
</div>