<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/products']">Produits</a></li>
    <li><a routerLink="list-products">Liste des produits</a></li>
</ul>
<div class="container px-5">
    <div class="row gx-5">
        <div class="col">
            <div class="p-6 "><a [routerLink]="['/products/add-product']" class="btn btn-success"> Ajouter un
                    produit</a></div>
        </div>
        <div class="col">
            <div class="p-6 border bg-light">
                <div class="input-group">
                    <input type="text" id="search" placeholder="Rechercher un produit" class="form-control" [(ngModel)]="searchText" (ngModelChange)="getProductByKeyword($event)"/>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="p-6">
                <h6>Filtres</h6>
                <input type="radio" name="filters" [(ngModel)]="filterValue" value="all"
                    (ngModelChange)="onFilterChange($event)"> Tous les produits <br>
                <input type="radio" name="filters" [(ngModel)]="filterValue" value="low"
                    (ngModelChange)="onFilterChange($event)"> Rupture de stock <br>
                <input type="radio" name="filters" [(ngModel)]="filterValue" value="expired"
                    (ngModelChange)="onFilterChange($event)"> Perimés <br>
            </div>
        </div>
    </div>
</div>

<div class="card my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categorie</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Alerte de Stock</th>
                <th scope="col">Prix</th>
                <th scope="col">Variété</th>
                <th scope="col">Code barre</th>
                <th scope="col">Image</th>
                <th scope="col">Date expiration</th>
                <th scope="col">Description du produit</th>
                <th scope="col">Unité</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.stockAlert}}</td>
                <td>{{product.price}}</td>
                <td>{{product.variety}}</td>
                <td>{{product.barCode}}</td>
                <td>{{product.imageUrl}}</td>
                <td>{{product.expiryDate}}</td>
                <td>{{product.description}}</td>
                <td>{{product.unit}}</td>
                <td>
                    <a [routerLink]="['/products/list-products', product.id]" class="action-link"><i class="bi bi-eye"
                            style="color: dodgerblue;"></i></a>
                    <a class="action-link"><i class="bi bi-pencil-square" style="color: darkblue;"></i></a>
                    <a class="action-link" (click)='initDeleteProduct(product)'><i class="bi bi-trash"
                            style="color: crimson;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>