.left-sidebar {
  background: white;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 50;
  align-content: center;
}
.col-md-10 {
  align-content: center;
}

.col-md-12 {
  line-height: 70px;
}

.title {
  text-align: center;
}
img{
  width: 50px;
  height: 50px;
}