<div class="contenair">
    <div class="row">
        <div class="col-md-2 bg-light d-none d-md-block">
            <p>Inventory Management</p>
            <div class="left-sidebar">
                <ul class="nav flex-column sidebar-nav">
                    <li class="nav-item">
                        <a routerLink="home" class="nav-link"><img
                                src="../assets/images/icons8-home-96.png">
                            &nbsp; <u>Accueil</u></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="categories" class="nav-link"><img
                             src="../assets/images/icons8-classer-par-catégories-96.png" >
                            &nbsp; <u>Categories</u></a>
                    </li>
                    <li class="nav-item ">
                        <a routerLink="products" class="nav-link"><img
                                src="../assets/images/icons8-fast-moving-consumer-goods-96.png">
                            &nbsp;
                            <u>Produits</u></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="suppliers" class="nav-link">
                            <img
                            src="../assets/images/icons8-fournisseur-96.png" >
                            &nbsp; <u>Fournisseurs</u></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="categories" class="nav-link">
                            <img
                            src="../assets/images/icons8-entrées-multiples-96.png">
                            &nbsp;
                            <u>Entrées</u></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="exit" class="nav-link">
                            <img
                            src="../assets/images/icons8-sortie-96.png">
                            &nbsp; <u>Sorties.</u></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="categories" class="nav-link"><img
                                src="../assets/images/icons8-aide-96.png">
                            &nbsp; <u>Avoir l'aide</u></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>