<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/exit']">Sorties</a></li>
</ul>
<form [formGroup]="exitForm">
    <div class="form-group">
        <label for="observation">Observation</label>
        <input type="text" class="form-control" formControlName="observation">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description">
    </div>
</form>

<hr>

<div class="card my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Categorie</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Quantité</th>
                <th scope="col">Alerte de Stock</th>
                <th scope="col">Prix</th>
                <th scope="col">Variété</th>
                <th scope="col">Code barre</th>
                <th scope="col">Image</th>
                <th scope="col">Date expiration</th>
                <th scope="col">Description du produit</th>
                <th scope="col">Unité</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.categoryId}}</td>
                <td>{{product.name}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.stockAlert}}</td>
                <td>{{product.price}}</td>
                <td>{{product.variety}}</td>
                <td>{{product.barCode}}</td>
                <td>{{product.imageUrl}}</td>
                <td>{{product.expiryDate}}</td>
                <td>{{product.description}}</td>
                <td>{{product.unit}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="destock(product)">Déstoker</button>
                </td>
            </tr>
        </tbody>
    </table>

    <hr>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let line of lines">
                <td>{{line.quantity}}</td>
                <td>{{line.price}}</td>
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-primary" (click)="save()">Enregistrer</button>
    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Ajouter une ligne de mouvement</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="exitForm">
                <div class="form-group">
                    <label for="quantity">Quantité</label>
                    <input type="number" class="form-control" id="quantity" formControlName="quantity">
                </div>
                <div class="form-group">
                    <label for="price">Prix</label>
                    <input type="number" class="form-control" id="price" formControlName="price">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annuler</button>
            <button type="button" class="btn btn-primary" (click)="modal.close()">Valider</button>
        </div>
    </ng-template>
</div>