<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/categories/list-categories']">categories</a></li>
    <li><a routerLink="list-categories">Liste des catégories</a></li>
</ul>
<a [routerLink]="['/categories/add-category']" class="btn btn-success">Ajouter une
    catégorie</a><br>
<div class="card my-5">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom categorie</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories">
                <td>{{category.id}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{category.description}}</td>
                <td>
                    <a [routerLink]="['/categories/list-categories',category.id]" class="action-link"><i
                            class="bi bi-eye" style="color: dodgerblue;"></i></a>
                    <a [routerLink]="['/add-category',category.id]" class="action-link" (click)='updateCategory(category)'><i
                            class="bi bi-pencil-square" style="color: darkblue;"></i> </a>
                    <a class="action-link" (click)='initDeleteCategory(category)'><i
                            class="bi bi-trash" style="color: crimson;"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>