/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

label,
input {
    padding: 5px 5px 5px 5px 5px;

}

.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

.container {
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 15em
}

.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
}

.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
}

.left-sidebar {
    position: sticky;
    top: 0;
    height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

.container {
    padding: 0.5rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-end;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px 15em
}

.action-link {
    margin-right: 0.6em;
}

