<h4 align="center">Accédez et gérez facilement votre stock</h4>
<p align="center">Que voulez vous gérer ?</p>
<div class="container">
    <div class="categories"><img src="../assets/images/icons8-classer-par-catégories-96.png">
        <a [routerLink]="['/categories/list-categories']">
            <h6>Categories</h6>
        </a>
    </div>
    <div class="products"><img src="../assets/images/icons8-fast-moving-consumer-goods-96.png">

        <a [routerLink]="['/products/list-products']">
            <h6>Produits</h6>
        </a>
    </div>
    <div class="fournisseurs"><img src="../assets/images/icons8-fournisseur-96.png">
        <a [routerLink]="['/suppliers/view-provider'] ">
            <h6>Fournisseurs</h6>
        </a>
    </div>
    <div class="entrees"><img src="../assets/images/icons8-entrées-multiples-96.png">

        <a routerLink="categories" class="nav-link">
            <h6>Entrées</h6>
        </a>
    </div>
    <div class="Sorties"><img src="../assets/images/icons8-sortie-96.png">
        <a routerLink="Sorties" class="nav-link">
            <h6>Sorties</h6>
        </a>
    </div>
    <div class="Aide"><img src="../assets/images/icons8-aide-96.png">
        <a routerLink="Aide" class="nav-link">
            <h6>Aide</h6>
        </a>
    </div>
</div>