/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: ">";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
label,input{
  padding: 5px 5px 5px 5px 5px;
  
}
div{
padding: 10px;
flex-direction: row;
grid-template-columns: 5fr 5fr 5fr;
gap: 150px 15em;
justify-content: space-evenly;
}
div.contenair{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 22%;
}
div.space {
width: 4px;
height: auto;
display: inline-block;
}
.register-form {
max-width: 350px;
margin: auto;
}

