<ul class="breadcrumb">
    <li><a [routerLink]="['/home']">Accueil</a></li>
    <li><a [routerLink]="['/suppliers/view-provider']">Fournisseurs</a></li>
    <li><a routerLink="view-provider">Ajouter un fournisseur</a></li>
</ul>
<div class="register-form">
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nom du fournisseur</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors['required']">Supplier name is required</div>
                Le nom de la categorie doit tenir sur minimum 6 caracteres
            </div>
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" formControlName="description" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }" />
            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                <div *ngIf="f['description'].errors['required']">La description du fournisseur est obligu fournisseur
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Téléphone du fournisseur</label>
            <input type="text" formControlName="phone" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['phone'].errors }" />
            <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                <div *ngIf="f['phone'].errors['required']">Supplier phone is required</div>
                Le nom de la categorie doit tenir sur minimum 9 caracteres
            </div>
        </div>
        <div class="form-group">
            <label>Ville du fournisseur</label>
            <input type="text" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['city'].errors }" />
            <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                <div *ngIf="f['city'].errors['required']">City name is required</div>
                Le nom de la categorie doit tenir sur minimum 6 caracteres
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Enregistrer" class="btn btn-primary">
            <div class="space">
            </div>
            <button type="button" (click)="onReset()" class="btn btn-warning float-right">Annuler</button>
        </div>
    </form>
</div>